.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: calc(5px + (60 - 5) * ((100vw -320px) / (1920-320)));
  padding-left: calc(5px + (240 - 5) * ((100vw -320px) / (1920-320)));
  padding-right: calc(5px + (240 - 5) * ((100vw -320px) / (1920-320)));
}
.nav,
.logo,
.cart,
.nav__links {
  display: flex;
  width: 100%;
  user-select: none;
  z-index: 6;
}

.nav {
  position: relative;
  z-index: 7;
}

.nav__menu-btn,
#menu,
.close {
  display: none;
}
.nav__links {
  height: fit-content;
  justify-content: space-between;
  pointer-events: none;
}

.nav__link,
.nav__link:visited {
  height: fit-content;
  font-size: var(--font-size-m);
  color: var(--text-main-color);
  text-decoration: none;
  cursor: pointer;
  pointer-events: auto;
  transition: color 0.4s;
}
.nav__links:hover .nav__link:not(:hover) {
  color: var(--text-sub-color);
}

@media (max-width: 1000px) {
  .nav__link,
  .nav__link:visited {
    padding: 0 5px;
    white-space: nowrap;
    font-size: var(--font-size-s);
  }
}

@media (max-width: 768px) {
  .nav {
    justify-content: center;
  }
  .nav__links {
    display: none;
  }

  .nav__link {
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
  }
  .nav__links:hover .nav__link:not(:hover) {
    border-bottom: 1px solid var(--text-sub-color);
  }
  .nav__menu-btn {
    display: flex;
    justify-content: space-between;
    height: 10px;
    flex-direction: column;
    padding-top: 5px;
  }
  .nav__menu-btn:hover rect {
    fill: var(--bg-sub);
  }
  #menu:checked ~ .nav__links {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 5px 5px 5px 6px;
    min-width: fit-content;
    background-color: #000;
  }
  #menu:checked ~ .close {
    display: flex;
    padding: 3px 5px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    color: #fff;
    top: 0;
    right: 10px;
    font-size: var(--font-size-m);
    z-index: 10;
  }
  #menu:checked ~ .close:hover {
    color: var(--bg-sub);
    border-color: var(--bg-sub);
  }
}
.logo {
  justify-content: center;
}
.cart {
  min-width: 30px;
  position: relative;
  justify-content: center;
  cursor: pointer;
}
.cart__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cart__icon svg {
  width: 30px;
}
.cart__badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -40%) scale(0.5);
  padding: 15px 10px;
  border-radius: 50%;
  line-height: 0;

  background-color: #fff;
  color: #111;
  font-size: 15px;
  transition: all 0.2s;
}
@media (min-width: 321px) {
  .cart__icon:hover .cart__badge {
    background-color: var(--bg-sub);
    color: #fff;
  }
}

@media (max-width: 320px) {
  .cart__badge {
    background-color: transparent;
    color: #fff;
    top: 40%;
    left: 50%;
    transform: translate(-60%, -50%);
    font-size: 12px;
  }
  .cart__icon:hover svg path {
    stroke: var(--bg-sub);
  }
  .cart__icon:hover .cart__badge {
    color: var(--bg-sub);
  }
}
